################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OtobüsBiletProje/WindowsFormsApplication1/.vs/WindowsFormsApplication1/v15
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/BusTicketApplication/v16/.suo
/OtobüsBiletProje/WindowsFormsApplication1/.vs/WindowsFormsApplication1/v16
