################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OtobüsBiletProje/WindowsFormsApplication1/.vs/WindowsFormsApplication1/v15
